body {
  margin: 0 !important;
}

.none-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.none-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
